body {
    overflow-y: scroll;
}


.navigation .nav-bar {
    margin-top: 0;
}

.navigation {
    z-index: 30;
    background: url('../images/navigation_overlay.png') top left repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: -10px;
}


.messages {
    padding-top: 60px;
    padding-bottom: 30px;
}

.message .name {
    width: 100%;
    margin: 5px auto;

}
.message .image {

    margin: 0 auto;

}

.message .content{

}

.message p{

    font-size: 13.5px;
    line-height: 1.3;
    margin-bottom: 15px;

}

.message {
    margin-bottom: 25px;
}

.message.template {
    display:none;
}




.send {
    background: url('../images/send_overlay.png') top left repeat-x;
    padding-top: 15px;
    z-index: 30;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}